/** Basic config file **/

configuration {
  show-icons: false;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
//@theme "thems/catppuccin-mocha.rasi"
//@theme "/home/vale/.config/rofi/themes/rofi.rasi"
@theme "/home/vale/.config/rofi/themes/my-center.rasi"
